<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Rules" extends="Foundation.Serialization.Base" description="Rules definition items" dependencies="Foundation.*" patch:after="configuration[@name='Foundation.Serialization.Base']">
          <predicate>
            <include name="goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/Page Goals" />
            <include name="rules" database="master" path="/sitecore/system/settings/Rules/Definitions/Elements/BasicCompany Feature" />
            <include name="tags" database="master" path="/sitecore/system/settings/Rules/Definitions/Tags/BasicCompany Feature" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>