<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Forms" extends="Foundation.Serialization.Base" description="Forms definition items" dependencies="Foundation.*" patch:after="configuration[@name='Foundation.Serialization.Base']">
          <predicate>
            <include name="renderings" database="master" path="/sitecore/layout/layouts/Feature/Forms" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>