@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    Layout = "outer.cshtml";
}

<div>
    @Html.Sitecore().Placeholder("header")
</div>
<div>
    @Html.Sitecore().Placeholder("main")
</div>
<div>
    @Html.Sitecore().Placeholder("footer")
</div>